@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  width: 100%;
}

* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.anim {
  animation: anim 0.5s;
}

@keyframes anim {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.install-code-box {
  max-width: 665px;
  width: calc(100vw - 55px);
  margin-top: 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.md pre {
  margin: 20px;
  padding: 20px;
  overflow-y: scroll;
}


.lang_keyword {
  color: mediumpurple;
}

@media (max-width: 600px) {
  .toc {
    display: none;
  }
}
